<nz-layout class="container">
  <nz-header>
    <div class="logo">HyperPanel</div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible [nzCollapsedWidth]="60" nzBreakpoint="xl">
      <ul nz-menu nzMode="inline">
        <li nz-menu-item nzMatchRouter>
          <a [routerLink]="['files']">
            <i nz-icon nzType="file"></i>
            <span>Files</span>
          </a>
        </li>
      </ul>
    </nz-sider>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
