<div class="container">
  <nz-table class="table-content" nzTemplateMode [nzLoading]="loading" #table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Modified Date</th>
        <th>Type</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr
        app-file-table-row
        *ngFor="let fileInfo of fileInfoList.items"
        [fileInfo]="fileInfo"
      ></tr>
    </tbody>
  </nz-table>
  <nz-pagination
    class="table-pagination"
    nzResponsive
    nzShowSizeChanger
    nzShowQuickJumper
    [(nzPageIndex)]="page"
    [(nzPageSize)]="limit"
    [nzTotal]="fileInfoList.total"
    (nzPageIndexChange)="query()"
    (nzPageSizeChange)="page = 1; query()"
  ></nz-pagination>
</div>
