<nz-table
  nzShowSizeChanger
  nzShowQuickJumper
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [(nzPageSize)]="limit"
  [(nzPageIndex)]="page"
  [nzTotal]="(fileInfoList$ | async)?.total ?? 0"
  [nzData]="(fileInfoList$ | async)?.items ?? []"
  (nzQueryParams)="load()"
  #table
>
  <thead>
    <tr>
      <th>Name</th>
      <th>Modified Date</th>
      <th>Type</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fileInfo of table.data">
      <td>{{ fileInfo.name }}</td>
      <td>{{ fileInfo.modifiedAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
      <td>{{ fileInfo.type }}</td>
      <td>{{ fileInfo.sizeFormatted }}</td>
    </tr>
  </tbody>
</nz-table>
