.container {
  display: flex;
  height: 100%;
  flex-direction: column;

  .table-navigation {
    margin-bottom: 16px;
  }

  .table-content {
    flex-grow: 1;
    overflow: auto;
    user-select: none;

    td {
      padding: 14px 16px;

      [nz-icon] {
        font-size: 24px;
        margin-right: 8px;
        transform: translateY(3px);
      }
    }
  }

  .table-footer {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
