<div class="container">
  <app-file-table-navigation
    class="table-navigation"
    [path]="path"
  ></app-file-table-navigation>

  <nz-table
    class="table-content"
    [nzData]="items"
    [nzFrontPagination]="false"
    [nzShowPagination]="false"
    [nzLoading]="loading"
    #table
  >
    <thead>
      <tr>
        <th
          [nzChecked]="!!getAllItemsCheckedStatus()"
          [nzIndeterminate]="getAllItemsCheckedStatus() == null"
          (nzCheckedChange)="setAllItemsCheckedStatus($event)"
        ></th>
        <th [nzSortFn]="sorters[0]" nzSortOrder="ascend">Name</th>
        <th [nzSortFn]="sorters[1]">Modified At</th>
        <th [nzSortFn]="sorters[2]">Type</th>
        <th [nzSortFn]="sorters[3]">Size</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of table.data; trackBy: tracker"
        (click)="selectItem(item)"
        (dblclick)="openItem(item)"
        (contextmenu)="openMenu(item, $event, menu)"
      >
        <td
          [nzChecked]="getItemCheckedStatus(item)"
          (nzCheckedChange)="setItemCheckedStatus(item, $event)"
        ></td>
        <td>
          <i nz-icon [nzType]="item.icon"></i>
          <span>{{ item.name }}</span>
        </td>
        <td>{{ item.modifiedAt | date: 'yyyy/MM/dd HH:mm:ss' }}</td>
        <td>{{ item.typeFinalized }}</td>
        <td>{{ item.sizeFinalized }}</td>
      </tr>
    </tbody>
  </nz-table>

  <div class="table-footer">
    <div class="table-info">
      <span>{{ total }} items</span>
      <nz-divider nzType="vertical"></nz-divider>
      <span>{{ itemsChecked.size }} selected</span>
    </div>

    <nz-pagination
      nzResponsive
      nzShowSizeChanger
      [nzPageSizeOptions]="[50, 100, 200, 500, 1000, 2000]"
      nzShowQuickJumper
      [(nzPageIndex)]="page"
      [(nzPageSize)]="size"
      [nzTotal]="total"
      (nzPageIndexChange)="query()"
      (nzPageSizeChange)="page = 1; query()"
      [nzDisabled]="loading"
    ></nz-pagination>
  </div>
</div>

<app-file-table-menu [targets]="itemsChecked" #menu></app-file-table-menu>
