<div class="container">
  <nz-card>
    <form nz-form>
      <h4 nz-typography>HyperPanel - Login</h4>
      <nz-divider></nz-divider>
      <nz-form-item>
        <nz-input-group nzPrefixIcon="user" nzSize="large">
          <input
            nz-input
            name="username"
            type="text"
            placeholder="Username"
            autocomplete="username"
          />
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzPrefixIcon="lock" nzSize="large">
          <input
            nz-input
            name="password"
            type="password"
            placeholder="Password"
            autocomplete="current-password"
          />
        </nz-input-group>
      </nz-form-item>

      <button nz-button nzType="primary" nzSize="large" type="submit" nzBlock>
        Login
      </button>
    </form>
  </nz-card>
</div>
